.trackDisplay{
    display: flex;
    border: 1px solid black;
    margin: 0rem 1rem 0.2rem 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    background-color: #d8d8d8;
}

.trackDisplay button{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #3D5220;
    border: 1px solid black;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0rem 0.2rem 5px 0px black;
    background-color: #d8d8d8;
    transition: 0.3s;
}

.trackDisplay button:hover{
    color: white;
    box-shadow: 0rem 0.5rem 5px 0px black;
    transform: translateY(-0.3rem);
}

.track{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 2rem 0.5rem 2rem;
    padding: 0.5rem;
    width: 80%;
}

.track h2{
    font-size: 1.2rem;
    margin: 0;
    padding: 0.2rem;
}

.track p{
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}