.playlistContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
   width: 35rem;
 }
 
 .playlist{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 2rem;
    border: 1px solid black;
    width: 30rem;
    box-shadow: 0rem 0.2rem 5px 0px black;
 }

 .playlist h1{
  margin-left: 2rem;
}

.playlist h1 input{
  font-size: 2rem;
  width: 90%;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: transparent;
  color: black;
  border: none;
 }
 
 .playlist h1 input:focus{
  background-color: white;
 }
 
 ::placeholder {
  color: black;
  opacity: 1; /* Firefox */
 }
 
 ::-ms-input-placeholder { /* Edge 12 -18 */
  color: black;
 }
 
 #saveButton{
 font-family: "Roboto", sans-serif;
 font-size: 1.2rem;
 border-radius: 1rem;
 background-color: #d9841c;
 margin: auto;
 margin-top: 1rem;
 margin-bottom: 2rem;
 width: 13rem;
 cursor: pointer;
 border: 1px solid black;
 padding: 0.5rem 1rem 0.5rem 1rem;
 box-shadow: 0rem 0.2rem 5px 0px black;
 transition: 0.3s;
 }
 
 #saveButton:hover{
 color: white;
 box-shadow: 0rem 0.5rem 5px 0px black;
 transform: translateY(-0.3rem);
 }
 
 
 
@media (max-width: 520px){
 
.playlistContainer{
   width: 90vw;
}

}