.App{
  min-width: 100%;
}

.App-header {
  position: static;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  color: black;
  display: flex;
  background-color: #FFFFFF;
  height: 3rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0.2rem 5px 0px black;
  backdrop-filter: blur(40px);
}

#logoMs{
  color: #d9841c;
}

.lists{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}


